# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
ENV/

# Base de données locale
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
build/
.cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
backend/WORKTRAX
backend/tests/
